.comment-card {
    background-color: #e9e0d1;
    border: 1px solid #68462b;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    max-width: 20rem;
}

.comment-name {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #33605a;
}

.comment-email {
    color: #070001;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.comment-button {
    border-radius: 0.25rem;
    background-color: #91a398;
    color: #070001;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.comment-button:hover {
    background-color: #33605a;
}
